.tracksContainer {
	width: 100%;
	height: 100px;
	padding-bottom: 200px;
}

.track {
	display: flex;
	cursor: pointer;
	margin-top: 10px;
	align-items: center;
	background-color: #121212;
	padding: 5px 10px;
}

.track:hover {
	background-color: #1f1f1f;
	border-radius: 5px;
}
.track:first-child:hover {
	border-radius: 0;
}

.track:first-child {
	border-bottom: 0.25px solid #c7c7c7;
	cursor: unset;
	background-color: #121212;
}

.index {
	width: 1vw;
	background-color: inherit;
}

.title {
	display: flex;
	flex-wrap: nowrap;
	width: 35vw;
	margin-left: 10px;
	background-color: inherit;
}

.track .title h5 {
	background-color: inherit;
}

.track .title p {
	background-color: inherit;
}

.bodyTitle {
	margin-left: 5px;
	margin-top: 7px;
	background-color: inherit;
}

.title img {
	margin-top: 10px;
	width: 40px;
	height: 40px;
	background-color: inherit;
	border-radius: 2px;
}

.album {
	width: 20vw;
	text-overflow: ellipsis;
	background-color: inherit;
}

.date {
	width: 9vw;
	background-color: inherit;
}

.time {
	background-color: inherit;
}

.audio {
	width: 100%;
	outline: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
