.mineSweeper .board {
  display: grid;
  /* grid-template-columns: repeat(20, 1fr); */
  width: fit-content;
  margin: 100px auto;
  border: 1px solid black;
  border-collapse: separate;
  
}



.mineSweeper .board .square {
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  border-collapse: separate;
  background-color: white;
  
}

.mineSweeper .board .mine {
  background-color: red;
  color: red;
}




.mineSweeper .board .hide {
  background-color: bisque;
  color: bisque;
}

.mineSweeper .board .flag {
  background-color: orange;
  color: orange;
}